@model PagedList.IPagedList<VillaOy.Models.Tilaukset>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}


<!--tämä on jQueryä-->
@section scripts
{
    <script type="text/javascript">
        $("#singleSelectedAsiakasID").on("change", function () { //risuaita tarkoittaa, että viittaa kyseiseen id:eeseen.
            //Getting value
            var selValue = $("#singleSelectedAsiakasID").val();
            document.getElementById("AsiakkaatCategory").value = selValue;
        });
    </script>
}

<h2>Tilaukset</h2>

@using (Html.BeginForm("Index", "Tilauksets", FormMethod.Get))
{
    <div class="input-group">
        @*Tämä tulostaa paragrafit rinnakkain, eikä erilleen*@
        @*px-1 meinaa, että ympärillä on paddingiä/tilaa*@
        <p class="px-1">@Html.Label("Etsi asiakkaan nimellä:")</p> @*Otsikko*@
        <p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p> @*Tällä nimellä kontrolleri näkee mitä tekstiboksiin on syötetty *@
        <p class="px-1">@Html.Label("Etsi asiakas asiakkaan nimen mukaan:")</p>
        <p class="px-1">@Html.Hidden("AsiakkaatCategory", ViewBag.currentFilter1 as string, new { @id = "AsiakkaatCategory", @class = "form-control" })</p>
        <p class="px-1">@Html.DropDownList("AsiakasID", null, htmlAttributes: new { @id = "singleSelectedAsiakasID", @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p> @*buttoni*@
    </div>
}

<p>
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Toimitusosoite@*@Html.DisplayNameFor(model => model.Toimitusosoite)*@
        </th>
        <th>
            Tilauspvm@*@Html.DisplayNameFor(model => model.Tilauspvm)*@
        </th>
        <th>
            Toimituspvm@*Html.DisplayNameFor(model => model.Toimituspvm)*@
        </th>
        <th>
            @Html.ActionLink("Nimi", "Index", new { sortOrder = ViewBag.CustomerNameSortParm, currentFilter1 = ViewBag.currentFilter1, currentAsiakkaatCategory = ViewBag.currentAsiakkaatCategory })
            @*@Html.DisplayNameFor(model => model.Asiakkaat.Nimi)*@
        </th>
        <th>
            @Html.ActionLink("Postitoimipaikka", "Index", new { sortOrder = ViewBag.ZipCodeSortParm, currentFilter1 = ViewBag.currentFilter1, currentAsiakkaatCategory = ViewBag.currentAsiakkaatCategory })
            @*@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toimitusosoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tilauspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toimituspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
            </td>
            <td>
                <a class="btn btn-primary" href="~/Tilauksets/Edit/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg> Muokkaa
                </a>
                <a class="btn btn-primary" href="~/Tilauksets/Details/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg> Lisätiedot
                </a>
                <a class="btn btn-primary" href="~/Tilauksets/Delete/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                    </svg> Poista
                </a>

                <!--
                @Html.ActionLink("Muokkaa", "Edit", new { id=item.TilausID }) |
                @Html.ActionLink("Lisätiedot", "Details", new { id=item.TilausID }) |
                @Html.ActionLink("Poista", "Delete", new { id=item.TilausID })
                -->
            </td>
        </tr>
    }

</table>


@*Sivuttaminen eli sivujen lukumäärä*@
Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@*Seuraavan sivun klikkaus*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1 = ViewBag.currentFilter1, currentAsiakkaatCategory = ViewBag.currentAsiakkaatCategory }))
@*CurrentFilter1 tarkoittaa asiakkaan nimeä ja CurrentPostitoimipaikka postitoimipaikkaa*@