@model VillaOy.Models.Asiakkaat

@{
    ViewBag.Title = "Delete";
}

<h2>Poista</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Luo" class="btn btn-danger" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
